* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: #222;
    color: white;
}

header h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

header p {
    font-size: 18px;
    margin-bottom: 10px;
}

header h3 {
    font-size: 20px;
}

.title {
    text-align: center;
    margin: 40px 0 25px;
}

.projects {
    width: 90%;
    max-width: 1000px;
    margin: auto;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 25px;

    margin-bottom: 60px;
}

.card {
    background: white;

    padding: 30px;

    text-align: center;

    border-radius: 10px;

    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 20px;

    line-height: 1.5;
}

.card a {
    display: inline-block;

    padding: 10px 20px;

    background: #222;

    color: white;

    text-decoration: none;

    border-radius: 5px;
}

.card a:hover {
    background: #444;
}

footer {
    text-align: center;

    padding: 25px;

    background: #222;

    color: white;
}

@media (max-width: 700px) {

    .projects {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 32px;
    }
}